.row, .row-elm {
  border: 2px solid #150404;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.row {
  height: 10%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
